* { margin: 0; padding: 0; }
header, footer, .body .content>.wrapper, .body .sidebar .wrapper { padding: 20px; background-color: #808080; }
header, footer, .body { margin: 20px; }
.body .sidebar .wrapper { margin-left: 20px }
.body { overflow: hidden; }
.body > .content , .body .sidebar { float: left; }
.body > .content { width: 70%; }
.body >.sidebar { width: 30%; }
